<!-- The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    哈哈 {{title}}!
    <!-- <<>>为数据绑定 特定语法语句 -->
<!-- </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <!-- 图片src直接就是数据流嵌入HTML文件中 图片数字化 -->
<!-- </div>
<h2>Here are some links to help you start: </h2> -->


<h1>{{title}}</h1>
<!-- {{}}引入的要解析''' -->



<!--ul  为无序列表 -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li>张三</li>
  <li>李四</li>
  <li>王五</li>

  <!-- <li *ngFor="let h of heroes">{{h.name}}</li> -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>

</ul>
<app-hero-detail [hero] = "selectedHero"></app-hero-detail>


